// Place all the styles related to the customer/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.format_bool {
  background-color: black;
}

.format_choose_one {
  background-color: blue;
}

.format_choose_multi {
  background-color: orange;
}

.format_writing {
  background-color: red;
}