<div class="row justify-content-center">
  <div class="col-sm-10 border shadow p-3 rounded bg-light m-3 text-center">
    <h3><strong>本当に退会しますか？</strong></h3>
    <p>
      退会すると、会員登録情報や<br>
      これまでの購入記録が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。<br>
    </p>
    <div class="unsubscribe">
      <%= link_to "退会しない", customer_path(current_customer), class:"btn btn-success" %>
      <%= link_to "退会する", withdraw_customers_path, method: :patch, class:"btn btn-danger" %>
    </div>
  </div>
</div>