<div id="admin_bg">
  <div class="admin_textarea">
    <div class="container">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</div>