<div id="customer_bg">
  <div class="customer_textarea">
    <div class="container">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</div>