// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_bg {
  background-image: image-url("admin_back_cake.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  flex: 1;
}

// テキストの背景
.admin_textarea {
  background: #fffffff0;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 0;
  box-shadow: 0px 0px 10px black;
}