<h1>Edit Question and Answers</h1>

<div class="question_answer">
  <%= render "question_answer", question: @question %>
</div>

<%= link_to "Back", question_path(@question), class: 'fas fa-question-circle nav-link' %>

<h1 class="mt-5">Or More?</h1>

<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
